<div>
    <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="10" [columnMode]="ColumnMode.force"
        [footerHeight]="50" rowHeight="auto" [rows]="rows">

        <ngx-datatable-column prop="ilid" [name]="columns[0].name">

            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span *ngIf="!editing[rowIndex]" title="Double click to edit" (dblclick)="editing[rowIndex] = true">
                    {{ value }}
                </span>

                <mat-form-field *ngIf="editing[rowIndex]">
                    <mat-label>Şehir seçiniz...</mat-label>
                    <mat-select [value]="value" (selectionChange)="updateCell($event, rowIndex, 'ilid')"
                        (keypress)="editing[rowIndex] = false">
                        <mat-option></mat-option>
                        @for (option of cities; track option) {
                        <mat-option [value]="option.id">{{ option.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>



            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id" [name]="columns[1].name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span title="Double click to edit" (dblclick)="editing[rowIndex] = true" *ngIf="!editing[rowIndex]">
                    {{ value }}
                </span>
                <input *ngIf="editing[rowIndex]" autofocus type="text" [value]="value"
                    (keypress)="onChange($event,  rowIndex, 'id')" />
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="name" [name]="columns[2].name">

            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span title="Double click to edit" (dblclick)="editing[rowIndex] = true" *ngIf="!editing[rowIndex]">
                    {{ value }}
                </span>
                <input *ngIf="editing[rowIndex]" autofocus type="text" [value]="value"
                    (keypress)="onChange($event,  rowIndex, 'name')" />
            </ng-template>
        </ngx-datatable-column>
       <!--  <ngx-datatable-column name="Action">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">

                <button (click)="editing[rowIndex] = true" class="icon-button">
                    Düzenle
                </button>
                <button (click)="onChange($event, rowIndex, row)" class="icon-button">
                    Kaydet
                </button>
            </ng-template>
        </ngx-datatable-column> -->
    </ngx-datatable>
</div>