header,
footer {
  height: 50px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

footer {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.394);
}

.changes {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  .title {
    font-family: monospace;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
}
